section[data-background] h1 { 
       background-color:rgba(204,255,204,0.7);
       padding: 50px;
       margin: 20px;
       border-radius: 30px
}

section[data-background] h2 { 
       background-color:rgba(153,255,204,0.7);
       padding: 30px;
       margin: 15px;
       border-radius: 20px
}

section[data-background] h3 { 
       background-color:rgba(102,255,204,0.7);
       padding: 20px;
       margin: 10px;
       border-radius: 15px
}

section[data-background] h4 { 
       background-color:rgba(153,244,153,0.7);
       padding: 10px;
       margin: 5px;
       border-radius: 4px
}

.pink { 
       background-color:rgba(255, 0, 102,0.7);
       padding: 30px;
       margin: 10px;
       border-radius: 5px
}

.bkg { 
       background-color:rgba(255,255,0,0.7);
       padding: 30px;
       margin: 15px;
       border-radius: 10px
}

.reveal li { font-size:1.75em }
.reveal li.credits { font-size:0.75em }
.credits {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}
.credits li { font-size:0.75em }


.chart div {
  font: 30px sans-serif;
  background-color: orange;
  text-align: right;
  padding: 5px;
  margin: 3px;
  color: white;
}

.fija div {
            font: 14px "Fira Mono";
            background-color: blue;
            text-align: right;
            padding: 2px;
            margin: 1px;
            color:  #ff2c2d;
}

/* Posición fija */

#fija { 
        position: fixed;
        border: 3px solid orange;
        top: 0;
        right: 0;
        width: 200px;
        z-index: 1;           
}

.reveal.slide .slides > section, .reveal.slide .slides > section > section {
  min-height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  position: absolute !important;
  top: 0 !important;
  align-items: center !important;
}


.print-pdf .reveal.slide .slides > section, .print-pdf .reveal.slide .slides > section > section {
  min-height: 770px !important;
  position: relative !important;
}

.reveal .footer {
  position: absolute;
  bottom: 1em;
  left: 1em;
  font-size: 0.5em;
}
